.no-backdrop-dialog .cdk-overlay-backdrop {
  background-color: transparent !important;
}
.custom-snackbar {
  color: white; /* Set the text color */
  background-color: #ff4081; /* Set the background color */
}
