<div class="m-3">
  <div class="d-flex flex-row justify-content-between">
    <h3 class="" style="font-weight: 595;">Items With Duplicity (Within Banner 1)</h3>
    <div>
      <i class="bi bi-list-ul p-2 " style="cursor: pointer;color: black;background-color: #FFFFFF  ;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
      </i>
      <i class="bi bi-list-ul  " style="cursor: pointer;color: white;background-color: #3F7EFF  ;">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
      </i>

        <svg id="Card_view_28px"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 28 28" style="background-color: red;">
          <rect id="Rectangle_549" data-name="Rectangle 549" width="24" height="24" fill="none" opacity="0.31"/>
          <path id="Icon_material-dashboard" data-name="Icon material-dashboard" d="M4.5,14.312h7.85V4.5H4.5Zm0,7.85h7.85V16.275H4.5Zm9.812,0h7.85V12.35h-7.85Zm0-17.662v5.887h7.85V4.5Z" transform="translate(0.5 0.5)" fill="#fff"/>
        </svg>

      <img src="../../assets/Card_view_28px (1).svg"  alt="" style="cursor: pointer;color: black;background-color: #FFFFFF">

    </div>
  </div>
<p class="" style="color: #969EA3;display: inline-block;">You Can Select From the Suggested or Can Custom</p>

<div class="cards">

  <div class="card p-3 me-3 border" *ngFor="let data of ['r','t','a']" >
    <div class="d-flex flex-tow">
      <h4 style="color: #3F7EFF;">Soft Drinks</h4>
      <span>

        <div class="card px-2  ms-3 rounded-pill" style="color: #7672ED;background-color: #EDEDFD;border-color: #DCDBFA;">Beverages</div>
      </span>

    </div>

    <div class="card mt-2 d-flex flex-row justify-content-between px-2 py-1 border border-0" style="font-weight: 590;font-size: 0.9rem;background-color: #F6F7FB;">
      <span>
        Duplicate Within
      </span>
      <span class="">

        40
      </span>
    </div>

  </div>
</div>
<div class="d-flex justify-content-end m-3 mt-5 fixed-bottom mb-auto " > <button  mat-raised-button color="primary"  class="mb-5" >Continue</button></div>

</div>
