<div>
  <span class="card border border-0">
    <mat-icon
      mat-dialog-close
      class="bg-dark rounded-circle ms-auto text-light m-3"
      style="cursor: pointer"
      >close</mat-icon
    >
  </span>

  <div class="modal-body text-center p-3">
    <div
      class="card p-3 rounded-circle"
      style="
        display: inline-block;
        background-color: #eeeff1;
        border-color: #e2e5f2;
      "
    >
      <img
        src="../../assets/Classification_42px.png"
        srcset=""
        height="50"
        width="50"
        alt=""
      />
    </div>
    <div *ngIf="!classificationFlag">
      <h5 class="mt-4" style="color: #3f7eff">
        Do You Want To Correct The Classificaton?
      </h5>
      <small style="color: #969ea3">Click on Yes to choose the column.</small>
    </div>
    <div *ngIf="classificationFlag">
      <h5 class="mt-4" style="color: #3f7eff">
        Please Select The Column From The Dropdown.
      </h5>
      <small style="color: #969ea3"
        >This selection would help you in classification.</small
      >

      <div class="d-flex mt-1">
        <select
          [(ngModel)]="colA"
          class="form-select me-1"
          aria-label="Default select example"
        >
          <option value="" selected>Select A Column</option>
          <option *ngFor="let data of dropdown.DropDown_List1" [value]="data">
            {{ data }}
          </option>
        </select>

        <select
          [(ngModel)]="colB"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="" selected>Select B Column</option>
          <option *ngFor="let data of dropdown.DropDown_List2" [value]="data">
            {{ data }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="m-2 mb-3 mx-auto d-flex justify-content-center mt-3">
    <div class="modal-footer border-0 d-flex justify-content-center">
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary px-5 me-2"
        data-bs-dismiss="modal"
        mat-dialog-close
        routerLink="/finalList"
      >
        Skip
      </button>
      <button
        *ngIf="!closedialgBox"
        type="button"
        (click)="getdropdown()"
        class="btn-sm btn px-5 btn-primary"
      >
        Yes
      </button>
      <button
        *ngIf="closedialgBox"
        type="button"
        (click)="updateColClassification()"
        mat-dialog-close
        class="btn-sm btn px-5 btn-primary"
      >
        Yes
      </button>
    </div>
  </div>
</div>

<!-- <div
  class="modal"
  id="exampleModal"
  tabindex="-1"
  aria-hidden="true"
  aria-labelledby="exampleModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <span
          class="rounded-circle p-3 py-4"
          style="background-color: #eeeff1; border: 1px solid #e2e5f2"
        >
          <img src="../../assets/Classification_42px.png" alt="" srcset="" />
        </span>

        <h5 style="color: #3f7eff">
          Do You Want To Correct The Classificaton?
        </h5>
        <p class="text-muted">Click on Yes to choose the column.</p>
      </div>
      <div class="modal-footer border-0 d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary px-5"
          data-bs-dismiss="modal"
          routerLink="/finalList"
        >
          Skip
        </button>
        <button type="button" class="btn-sm btn px-5 btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div> -->
