<div class="m-3">
  <div class="d-flex flex-row justify-content-between">
    <h4 class="" style="font-weight: 595">Item Classification</h4>
  </div>

  <div class="mt-2">
    <div class="">
      <table class="table mt-2">
        <thead>
          <tr>
            <th scope="col" style="background-color: #eeeff1">Item Name</th>
            <th scope="col" style="background-color: #eeeff1">Item Category</th>
            <th scope="col" style="background-color: #eeeff1">
              Recommended Item Category
            </th>
            <th scope="col" style="background-color: #eeeff1">
              Confidence Score
            </th>
          </tr>
        </thead>
        <tbody style="font-size: 1.9vh !important" *ngFor="
            let data of itemClassification
              | paginate
                : { itemsPerPage: 7, currentPage: paginator.pageIndex + 1 };
            index as i
          ">
          <tr>
            <td>{{ data.item_name }}</td>
            <td style="color: rgb(224, 86, 86); font-weight: 590;">{{ data.item_category }}</td>
            <td style="color: rgb(81, 189, 81); font-weight: 590;">{{ data['New Item Category'] }}</td>
            <td>{{ isFloat(data['Confidence Score']) }}</td>
          </tr>
        </tbody>
      </table>
      <mat-paginator class="mt-0 mb-1" #paginator showFirstLastButtons [length]="dataSource?.data.length" [pageSize]="7"
        [pageIndex]="0">
      </mat-paginator>
    </div>

    <div class="d-flex justify-content-end m-3 mt-5 fixed-bottom mb-auto">
      <button mat-raised-button color="primary" class="mb-5" routerLink="/finalList" style="background-color: #3F7EFF;">
        Continue
      </button>
    </div>
  </div>
</div>