<div class="pb-2 card border border-0" >

  <h4 class="ms-3 mt-3" style="font-weight: 600;">Column Selection</h4>

  <small class="ms-3 fw-normal" style="color:#969EA3;">Select The Column To Make Sku List Standardize</small>

  <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="start" disableRipple class="m-3">
    <mat-tab label="List 1">
      <div class="mat-elevation-z8" style="font-size: 0.9em;">
        <table mat-table [dataSource]="dataSource1" >

          <mat-chip-listbox >
            <ng-container matColumnDef="Class Description">
              <th mat-header-cell *matHeaderCellDef class="p-1">

                <mat-chip-option color="accent" class="ms-0 rounded-4   custom-chip-option" >Class Description </mat-chip-option>

              </th>
              <td mat-cell *matCellDef="let element"> {{element["Class Description"]}} </td>
            </ng-container>

            <ng-container matColumnDef="Sub Department Description" class="p-1">
              <th mat-header-cell *matHeaderCellDef>

                <mat-chip-option color="accent" class="ms-0 rounded-4  custom-chip-option">Sub Department Description </mat-chip-option>
              </th>
              <td mat-cell *matCellDef="let element"> {{element["Sub Department Description"]}} </td>
            </ng-container>

            <ng-container matColumnDef="Sub Class Description">
              <th mat-header-cell *matHeaderCellDef>

                <mat-chip-option color="accent" class="ms-0 rounded-4  custom-chip-option"  >Sub Class Description</mat-chip-option>
              </th>
              <td mat-cell *matCellDef="let element"> {{element["Sub Class Description"]}} </td>
            </ng-container>

            <ng-container matColumnDef="SKU Description">
              <th mat-header-cell *matHeaderCellDef>

                <mat-chip-option color="accent" class="ms-0 rounded-4  custom-chip-option"  >SKU Description </mat-chip-option>

              </th>
              <td mat-cell *matCellDef="let element"> {{element["SKU Description"]}} </td>
            </ng-container>

            <ng-container matColumnDef="SKU Id">
              <th mat-header-cell *matHeaderCellDef>

                <mat-chip-option color="accent" class="ms-0 rounded-4  custom-chip-option" > SKU Id </mat-chip-option>

              </th>
              <td mat-cell *matCellDef="let element"> {{element["SKU Id"]}} </td>
            </ng-container>
          </mat-chip-listbox>

          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>

        <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
          [length]="dataSource1?.data.length" [pageSize]="5" [pageIndex]="0">
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="List 2">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource2">
          <mat-chip-listbox >

            <ng-container matColumnDef="DIVISION_NAME">
              <th mat-header-cell *matHeaderCellDef>

                 <mat-chip-option color="accent" class="ms-0 rounded-4  custom-chip-option" >  Division Name  </mat-chip-option>
                </th>
              <td mat-cell *matCellDef="let element"> {{element["DIVISION_NAME"]}} </td>
            </ng-container>

            <ng-container matColumnDef="DEPT_NAME">
              <th mat-header-cell *matHeaderCellDef>

                <mat-chip-option color="accent" class="ms-0 rounded-4  custom-chip-option" > Department Name   </mat-chip-option>
              </th>
              <td mat-cell *matCellDef="let element"> {{element["DEPT_NAME"]}} </td>
            </ng-container>

            <ng-container matColumnDef="SKU Type">
              <th mat-header-cell *matHeaderCellDef>

                <mat-chip-option color="accent" class="ms-0 rounded-4  custom-chip-option" >  SKU Type  </mat-chip-option>

              </th>
              <td mat-cell *matCellDef="let element"> {{element["SKU Type"]}} </td>
            </ng-container>

            <ng-container matColumnDef="SKU_NAME">
              <th mat-header-cell *matHeaderCellDef>
                <mat-chip-option color="accent" class="ms-0 rounded-4  custom-chip-option" >  SKU Name  </mat-chip-option>
              </th>
              <td mat-cell *matCellDef="let element"> {{element["SKU_NAME"]}} </td>
            </ng-container>

            <ng-container matColumnDef="SKU_ID">
              <th mat-header-cell *matHeaderCellDef>
                <mat-chip-option color="accent" class="ms-0 rounded-4  custom-chip-option" >  SKU ID  </mat-chip-option>

              </th>
              <td mat-cell *matCellDef="let element"> {{element["SKU_ID"]}} </td>
            </ng-container>
          </mat-chip-listbox>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>

        <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
          [length]="dataSource2?.data.length" [pageSize]="5" [pageIndex]="0">
        </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="d-flex justify-content-end">

    <button mat-raised-button color="primary" class="text-end me-4">Continue</button>
  </div>
</div>
