<div >
      <span class="card border border-0">
        <mat-icon mat-dialog-close class="bg-dark rounded-circle ms-auto text-light m-3" style="cursor: pointer;">close</mat-icon>
      </span>

    <div class="modal-body text-center p-3" >

      <div class="card p-3 rounded-circle" style="display: inline-block;background-color: #EEEFF1;border-color: #E2E5F2;">
        <img src="../../assets/check_42px.svg"   height="50" width="50"  alt="">
      </div>
      <h5 class="mt-4" style="color: #3F7EFF;">
        Sku File Has Been Uploaded Successfully
      </h5>
      <small style="color: #969EA3;">Click continue to select the column to make SKU list standardize</small>
    </div>
    <div class="m-2 mb-3 mx-auto d-flex justify-content-center mt-3">
      <button data-bs-toggle="modal" data-bs-target="#exampleModal" mat-raised-button color="primary" class="text-end" style="background-color: #3F7EFF;" mat-dialog-close (click)="openDrawer2()">Continue</button>
    </div>
</div>
