<div class="card rounded-0" style="min-height: 100%;background-color: #3F7EFF;">
  <mat-stepper class="bg-transparent mt-5"  (selectionChange) = "testClick($event)" orientation="vertical" [linear]="false" #stepper
  style="font-family: 'Poppins', sans-serif!important;">
  <!-- Define the edit icon, by default is 'create' -->
  <ng-template matStepperIcon="edit" >
    <mat-icon>number</mat-icon>
  </ng-template>

  <!-- Define the number of the step -->
  <ng-template matStepperIcon="number" let-index="index">
    {{index+1}}
  </ng-template>
  <mat-step [completed]="dashboard" routerLink="/">
    <!-- <button mat-button matStepperNext>Next</button> -->
  </mat-step>
  <mat-step [completed]="standardizeChart"  routerLink="/standardizeChart">
    <ng-template matStepLabel>
    </ng-template>
    <!-- <button mat-button matStepperNext>Next</button>
    <button mat-button matStepperPrevious>Back</button> -->
  </mat-step>
  <mat-step [completed]="duplicitItemsB1" routerLink="/duplicitItemsB1">
    <!-- <button mat-button matStepperNext>Next</button>
    <button mat-button matStepperPrevious>Back</button> -->
  </mat-step>
  <mat-step [completed]="false">
    <!-- <button mat-button matStepperPrevious>Back</button> -->
  </mat-step>
  </mat-stepper>

</div>

