<h3 class="ms-3 mt-3 mb-0" style="font-weight: 595;">Standardize Chart</h3>

<div class="d-flex flex-row justify-content-between">

  <p class="ms-3 mt-0 " style="color: #969EA3;display: inline-block;">You Can Select From the Suggested or Can Custom</p>

  <div class="mt-0 ms-auto d-flex flex-row   ">

    <span class=" mt-1  me-1  rounded-circle" style="padding: 0.5rem;background-color: #B0E5D7;height: 1vh;"></span>
    <span class=" pb-4" style="color: #969EA3;">Suggestion</span>

    <div class=" mt-1 ms-3 me-1 rounded-circle" style="background-color: #DEDEDE;height: 1vh;padding: 0.5rem;"></div>
    <span class=" mt-0 me-3" style="color: #969EA3;">Open To Custom</span>
  </div>

</div>
<div class="mx-3">
  <div class="card rounded-0 d-flex flex-row justify-content-between p-3" style="border-color: #C7E5D4;background-color: #FFFFFF;font-weight: 590;">
    <span class="my-auto" style="font-size: 1.3em;color: #3F7EFF;">Our standardization Rule:
    </span>

      <span class="mx-2 p-1 my-auto" style=" border: none;outline-color: #42B977;outline-style: dashed;outline-offset: 0.1em;color: #42B977; ">Brand</span>
      <span class="mx-2 p-1 my-auto" style=" border: none;outline-color: #42B977;outline-style: dashed;outline-offset: 0.1em;color: #42B977; ">+Item</span>
      <span class="mx-2 p-1 my-auto" style=" border: none;outline-color: #42B977;outline-style: dashed;outline-offset: 0.1em;color: #42B977; ">+/Variatn</span>
      <span class="mx-2 p-1 my-auto" style=" border: none;outline-color: #42B977;outline-style: dashed;outline-offset: 0.1em;color: #42B977; ">+Qty</span>
      <span class="mx-2 p-1 my-auto" style=" border: none;outline-color: #42B977;outline-style: dashed;outline-offset: 0.1em;color: #42B977; ">+UOM</span>
      <span class="mx-2 p-1 my-auto" style=" border: none;outline-color: #42B977;outline-style: dashed;outline-offset: 0.1em;color: #42B977; ">+Pack Type</span>
      <span class="mx-2 p-1 my-auto" style=" border: none;outline-color: #42B977;outline-style: dashed;outline-offset: 0.1em;color: #42B977; ">+Pack Size</span>
      <span class="mx-2 p-1 my-auto" style="color: #42B977; ">(All Inticap)</span>

  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
