<div class="m-3">
  <div class="d-flex flex-row justify-content-between">
    <h3 class="" style="font-weight: 595;">Final List</h3>
  </div>

  <div class="card mt-2 rounded-0 d-flex flex-row justify-content-between p-3"
    style="border-color: #42b977; background-color: #ffffff; font-weight: 590">
    <span class="my-auto" style="font-size: 1.3em; color: #3f7eff">Our standardization Rule:
    </span>

    <span class="mx-2 p-1 my-auto text-center text-center" style="
      border: none;
      outline-color: #42b977;
      outline-style: dashed;
      outline-offset: 0.1em;
      color: #42b977;
      width: 8%;
    ">Brand</span>
    <span class="mx-2 p-1 my-auto text-center" style="
      border: none;
      outline-color: #42b977;
      outline-style: dashed;
      outline-offset: 0.1em;
      color: #42b977;
      width: 8%;
    ">Item Variant</span>
    <span class="mx-2 p-1 my-auto text-center" style="
      border: none;
      outline-color: #42b977;
      outline-style: dashed;
      outline-offset: 0.1em;
      color: #42b977;
      width: 8%;
    ">Qty</span>
    <span class="mx-2 p-1 my-auto text-center" style="
      border: none;
      outline-color: #42b977;
      outline-style: dashed;
      outline-offset: 0.1em;
      color: #42b977;
      width: 8%;
    ">UOM</span>
    <span class="mx-2 p-1 my-auto text-center" style="
      border: none;
      outline-color: #42b977;
      outline-style: dashed;
      outline-offset: 0.1em;
      color: #42b977;
      width: 8%;
    ">Pack Type</span>
    <span class="mx-2 p-1 my-auto text-center" style="
      border: none;
      outline-color: #42b977;
      outline-style: dashed;
      outline-offset: 0.1em;
      color: #42b977;
      width: 8%;
    ">Pack Size</span>
    <span class="mx-2 p-1 my-auto text-center" style="color: #42b977">(All Inticap)</span>
  </div>

  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-end m-3 mt-5 fixed-bottom mb-auto "> <button mat-raised-button color="primary"
      class="mb-5">Continue</button></div>

</div>
