<div class="m-3">
  <div class="d-flex flex-row justify-content-between">
    <h3 class="" style="font-weight: 595">Final List</h3>
  </div>

  <div
    class="card mt-2 rounded-0 d-flex flex-row justify-content-between p-3"
    style="border-color: #42b977; background-color: #ffffff; font-weight: 590"
  >
    <span class="my-auto" style="font-size: 1.3em; color: #3f7eff"
      >Our standardization Rule:
    </span>
    <span
      *ngFor="let dt of STD_rule"
      class="mx-2 p-1 my-auto text-center"
      style="
        border: none;
        outline-color: #42b977;
        outline-style: dashed;
        outline-offset: 0.1em;
        color: #42b977;
        width: 8%;
      "
      >{{ dt }}</span
    >

    <span class="mx-2 p-1 my-auto text-center" style="color: #42b977"
      >(All Inticap)</span
    >
  </div>

  <div class="mt-2">
    <div class="">
      <table class="table mb-0">
        <thead style="font-size: 2.1vh !important">
          <tr>
            <th
              role="button"
              (click)="columnSelect('Class Description')"
              style="background-color: #eeeff1"
            >
              Class Description
            </th>
            <th
              role="button"
              (click)="columnSelect('Old SKU Description')"
              style="background-color: #eeeff1"
            >
              Old SKU Description
            </th>
            <th
              role="button"
              (click)="columnSelect('New SKU Description')"
              style="background-color: #eeeff1"
            >
              New SKU Description
            </th>
          </tr>
        </thead>
        <tbody
          style="font-size: 1.9vh !important"
          *ngFor="
            let dt of Final_List
              | paginate
                : { itemsPerPage: 7, currentPage: paginator.pageIndex + 1 };
            index as i
          "
        >
          <tr>
            <td>{{ dt['Class Description'] }}</td>
            <td>{{ dt['Old SKU Description'] }}</td>
            <td>{{ dt['New SKU Description'] }}</td>
          </tr>
        </tbody>
      </table>

      <!-- <table mat-table [dataSource]="dataSource1">
        <mat-chip-listbox>
          
          <ng-container matColumnDef="Class Description">
            <th mat-header-cell *matHeaderCellDef class="p-1" class="p-1">
              <mat-chip-option
                style="
                  font-size: 2.1vh !important;
                  font-weight: 590 !important;
                  color: black;
                "
                color="accent"
                class="ms-0 rounded-4 custom-chip-option"
                (click)="onChipOptionClick('Class Description')"
                >Class Description</mat-chip-option
              >
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="font-size: 1.9vh !important"
            >
              {{ element['Class Description'] }}
            </td>
          </ng-container>

          
          <ng-container matColumnDef="Old SKU Description">
            <th mat-header-cell *matHeaderCellDef class="p-1">
              <mat-chip-option
                style="
                  font-size: 2.1vh !important;
                  font-weight: 590 !important;
                  color: black;
                "
                color="accent"
                class="ms-0 rounded-4 custom-chip-option"
                (click)="onChipOptionClick('Old SKU Description')"
                >Old SKU Description</mat-chip-option
              >
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="font-size: 1.9vh !important"
            >
              {{ element['Old SKU Description'] }}
            </td>
          </ng-container>

          
          <ng-container matColumnDef="New SKU Description">
            <th mat-header-cell *matHeaderCellDef class="p-1">
              <mat-chip-option
                style="
                  font-size: 2.1vh !important;
                  font-weight: 590 !important;
                  color: black;
                "
                color="accent"
                class="ms-0 rounded-4 custom-chip-option"
                (click)="onChipOptionClick('New SKU Description')"
                >New SKU Description</mat-chip-option
              >
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              style="font-size: 1.9vh !important"
            >
              {{ element['New SKU Description'] }}
            </td>
          </ng-container>
        </mat-chip-listbox>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table> -->

      <mat-paginator
        class="mt-0 mb-1"
        #paginator
        showFirstLastButtons
        [length]="dataSource?.data.length"
        [pageSize]="7"
        [pageIndex]="0"
      >
      </mat-paginator>
    </div>
  </div>

  <!-- <div class="d-flex justify-content-end m-3 mt-5 fixed-bottom mb-auto">
    <button
      (click)="navigateToConsolidate()"
      mat-raised-button
      color="primary"
      class="mb-5 btn-dark"
    >
      Consolidate
    </button>
  </div> -->
</div>
