<!-- <mat-drawer-container class="mb-5">
  <mat-drawer mode="side" opened class=""
    style="width: 5vw;background-color: #3F7EFF;"><app-side-nav></app-side-nav></mat-drawer>
  <mat-drawer-content class="mb-5 ">
    <app-header></app-header>
    <div class="scroller" #scroller1>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<div class="sticky-bottom ">
  <app-footer></app-footer>
</div> -->

<div>
  <app-header></app-header>
  <div class="d-flex flex-row" style="background-color:#F6F7FB;">
    <app-side-nav style="min-width:  15vw;"></app-side-nav>
    <div class="scroller" #scroller1>
      <router-outlet class="scroll"></router-outlet>
    </div>
  </div>
</div>