<div class="m-3">
  <h3>Column Selection</h3>
  <h5 class="text-muted">Select the column to make the SKU List Standardize</h5>

  <mat-tab-group animationDuration="0ms" disableRipple>
    <mat-tab label="List 1">
      <table class="table">
        <thead class="table-secondary">
          <tr>
            <th scope="col">Dept</th>
            <th scope="col">Sub Dept</th>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Sku</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="txt-bold">Beverages</td>
            <td class="txt-bold">Soft Drink</td>
            <td>Coke</td>
            <td>20Z CF diet coke</td>
            <td>278100</td>
          </tr>
          <tr>
            <td class="txt-bold">Beverages</td>
            <td class="txt-bold">Soft Drink</td>
            <td>Coke</td>
            <td>20Z CF diet coke</td>
            <td>278100</td>
          </tr>
          <tr>
            <td class="txt-bold">Beverages</td>
            <td class="txt-bold">Soft Drink</td>
            <td>Coke</td>
            <td>20Z CF diet coke</td>
            <td>278100</td>
          </tr>
          <tr>
            <td class="txt-bold">Beverages</td>
            <td class="txt-bold">Soft Drink</td>
            <td>Coke</td>
            <td>20Z CF diet coke</td>
            <td>278100</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="List 2">
      <table class="table">
        <thead class="table-secondary">
          <tr>
            <th scope="col">Dept</th>
            <th scope="col">Sub Dept</th>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Sku</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="txt-bold">Beverages</td>
            <td class="txt-bold">Soft Drink</td>
            <td>Coke</td>
            <td>20Z diet sprite zero</td>
            <td>2785110</td>
          </tr>
          <tr>
            <td class="txt-bold">Beverages</td>
            <td class="txt-bold">Soft Drink</td>
            <td>Coke</td>
            <td>20Z diet sprite zero</td>
            <td>2785110</td>
          </tr>
          <tr>
            <td class="txt-bold">Beverages</td>
            <td class="txt-bold">Soft Drink</td>
            <td>Coke</td>
            <td>20Z diet sprite zero</td>
            <td>2785110</td>
          </tr>
          <tr>
            <td class="txt-bold">Beverages</td>
            <td class="txt-bold">Soft Drink</td>
            <td>Coke</td>
            <td>20Z diet sprite zero</td>
            <td>2785110</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
